/* Overall container */
#container {
	width: 90%;
}

/* Our preview */
#preview {
	clear: both;
}

/* The lesson description and buttons */
#lesson_container {
	float: right;
	width: 55%;
}

/* Our editor */
#input {
	width: 100%;
}

#input_container {
	float: left;
	width: 40%;
}

#markItUpinput {
	background-color: green;
	width: 100%;
}

div.markItUpContainer {
	background-color: green;
	width: 100%;
}

/* Buttons */
#done_buttons {
	display: none;
}
