/* Defaults
 */
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
}

/* Light Border
 *
 * This is a light-gray border*/
.light-border {
	border: 2px solid #c0c0c0;
}

/* Light Background
 *
 * This is a subtle, light-gray background */
.light-background {
	background-color: lightgrey;
}

/* This is functionality to effect the left
 * half and right half bits of the layout */
/* This is floating left */
.left {
	float: left;
}

/* And floating right */
.right {
	float: right;
}

/* Full width */
.full-width {
	width: 100%;
}

/* The right-half column of the page */
.large-half {
	width: 65%;
}

/* The left-half column */
.small-half {
	width: 30%;
}

/* A row of divs */
.row {
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

/* Header */
#header {
	margin-top: 0px;
	height: 30px;
	background-color: black;
}

#logo {
	color: lightgrey;
	background: black;
	margin-left: 50px;
	font: small-caps bold 20px verdana,sans-serif;
}

#header_buttons {
	margin-right: 50px;
}

#header_buttons > div {
	padding: 10px;
}

.button {
	margin-left: 15px;
	margin-right: 15px;
}

.button > a {
	color: white;
	text-decoration: none;
	font: 10px verdana-bold;
}

.button > a:hover {
	color: blue;
}

body {
	background : white;
	margin     : 0px;
}

/* Overall container */
#container {
	background    : white;
	margin        : 5px;
	margin-left   : 0px;
	margin-right  : 0px;
	padding-bottom: 0px;
	padding       : 10px;
	height        : 100%;
	width         : 80%;
	margin        : 0 auto;
}

/* Our Results */
#results_container {

}

/* Our preview */
#preview > * {
	margin: 10px;
}

/* The work area */
/* The lesson description and buttons */
#lesson_container {
	padding: 10px;
}

#lesson_title {
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

/* Our editor */
#input {

}

#input_container {
	float: right;
}

/* Buttons */
.success {
	background-color: green;
}

.failure {
	background-color: red;
}

#buttons {
	text-align: center;
	padding: 10px;
}
